*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.buscador{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px ;
    width: 80%;
    margin: 0 auto;
}

form {
    position: relative;
    width: 100%; /* Ajusta el tamaño del input */
    max-width: 800px;
}

input[type="text"] {
    width: 100%;
    padding: 10px 40px 10px 10px; /* Espacio para el icono */
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #383434; /* Solo línea inferior */
    outline: none;
    background: transparent; /* Para que el fondo sea limpio */
}


/* icono */
.material-symbols-outlined { 
    width: 20px;
    position: absolute;
    right: 10px; /* Ajusta la posición del icono */
    top: 50%;
    transform: translateY(-50%);
    color: gray;
    
    cursor: pointer;
}


.acomodoImg{
    
    border-radius: 32px;
    width: 250px;
    height: auto;
    /* object-fit: cover; */
    /* object-position: top; */

}

section{
    /* margin-top: 80px; */
    gap: 10px; /* separa elementos de adentro del contenedor*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    width: 100%;
    max-width: max-content;
    margin: 0 auto;
    padding: 20px;
    /* height: 100%; */
}

.card{
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(225, 226, 231, 0.623);
        border-radius: 10px;
        padding: 40px 0;

        

        
}

